@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  html {
    font-size: calc(100vw / 120);
  }
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.heading-primary {
  display: inline-block;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #454545;
  font-weight: 800;
}
@media (max-width: 767px) {
  .heading-primary {
    font-size: 2.4rem;
    letter-spacing: 0.125rem;
  }
}
.heading-primary::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.4rem;
  top: -0.8rem;
  left: 0.2rem;
  color: transparent;
  background-image: linear-gradient(90deg, #c9e23f 35%, #47e3dc 100%);
}

.heading-secondary {
  display: block;
  text-align: center;
  max-width: 65rem;
  margin: 0 auto;
  text-align: left;
  font-family: "Verdana", sans-serif;
  color: #454545;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-top: 2.7rem;
}
@media (max-width: 767px) {
  .heading-secondary {
    max-width: none;
    margin: 0 1.6rem;
    margin-top: 1.6rem;
  }
}

.is-sp {
  display: none !important;
}
@media (max-width: 767px) {
  .is-sp {
    display: inline-block !important;
  }
}

.is-pc {
  display: inline-block !important;
}
@media (max-width: 767px) {
  .is-pc {
    display: none !important;
  }
}

.section-news {
  background-color: #fafafa;
  padding-top: 7.2rem;
  border: 0.1rem solid #eeeeee;
}
@media (max-width: 767px) {
  .section-news {
    padding-top: 4.3rem;
    border: 0.05rem solid #eeeeee;
  }
}

.section-features {
  padding: 13rem 0 13.2rem 0;
}
@media (max-width: 767px) {
  .section-features {
    padding: 6.5rem 0 13.2rem 0;
  }
}

.section-items {
  padding: 6.8rem 0;
}
@media (max-width: 767px) {
  .section-items {
    padding: 6.65rem 0 4.7rem;
  }
}

.active {
  color: #9aaf24 !important;
}

.wrapper {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 6rem;
}
@media (max-width: 767px) {
  .wrapper {
    padding: 0;
    overflow: hidden;
  }
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .container {
    margin: 1.15rem;
  }
}

.header {
  margin-bottom: 1.6rem;
}
@media (max-width: 767px) {
  .header {
    margin-bottom: 5.6rem;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  padding: 3.6rem 0;
}
@media (max-width: 767px) {
  .header__logo {
    position: fixed;
    z-index: 999;
    top: 1.95rem;
    left: 1.6rem;
    padding: 0;
    max-width: 18.7rem;
  }
}
.header__slide {
  position: relative;
  margin: 0 auto;
  padding: 0;
  margin-bottom: -0.3rem;
  max-width: 108rem;
}
@media (max-width: 767px) {
  .header__slide {
    margin: 7rem -1.15rem 0;
  }
}
.header__slide-title {
  position: absolute;
  max-width: 24.2rem;
  top: 5.2rem;
  right: 10rem;
}
@media (max-width: 767px) {
  .header__slide-title {
    top: 2.6rem;
    right: 1.5rem;
    max-width: 12.1rem;
  }
}

.footer {
  margin-top: 6.8rem;
  margin-bottom: 0.8rem;
}
@media (max-width: 767px) {
  .footer {
    margin-top: 3.4rem;
    margin-bottom: 2.9rem;
  }
}
.footer__text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: #454545;
  line-height: 1;
}
@media (max-width: 767px) {
  .footer__text {
    font-weight: 700;
    font-size: 1.28rem;
  }
}

.navigation {
  background-color: #ffffff;
  width: 100%;
}
@media (max-width: 767px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    background-color: #ffffff;
    z-index: 998;
  }
}
.navigation__checkbox {
  display: none;
}
.navigation__checkbox:checked ~ .navigation__list {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.navigation__button {
  background-color: transparent;
  width: 3.3rem;
  height: 3.3rem;
  display: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .navigation__button {
    display: block;
    position: absolute;
    top: 1.8rem;
    right: 1.85rem;
    z-index: 1000;
  }
}
.navigation__icon {
  position: relative;
  top: 0.8rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3.3rem;
  height: 0.55rem;
  border-radius: 2.5px;
  background-color: #000000;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.25s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 4rem 0;
}
@media (max-width: 767px) {
  .navigation__list {
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    top: 7rem;
    width: 100%;
    padding: 0;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.97);
    transform: translateX(100%);
    transition: transform 0.35s linear;
  }
}
.navigation__item {
  width: 18rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #454545;
  border-left: 0.2rem solid #575757;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
@media (max-width: 767px) {
  .navigation__item {
    width: 100%;
    border-left: none;
    height: 4.5rem;
    border-top: 0.05rem solid #cccccc;
  }
}
.navigation__item:hover {
  background-color: #fafafa;
}
.navigation__item:hover .navigation__link {
  color: #9aaf24;
}
.navigation__item:last-child {
  border-right: 0.2rem solid #575757;
}
@media (max-width: 767px) {
  .navigation__item:last-child {
    border-right: none;
    border-bottom: 0.05rem solid #cccccc;
  }
}
.navigation__link {
  color: #454545;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.25s ease-in;
}
@media (max-width: 767px) {
  .navigation__link {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.news {
  position: relative;
}
.news__lists {
  margin: 4rem 0 7.9rem 18rem;
}
@media (max-width: 767px) {
  .news__lists {
    margin: 2rem 0 4rem;
  }
}
.news__list:not(:last-child) {
  margin-bottom: 2.4rem;
}
@media (max-width: 767px) {
  .news__list:not(:last-child) {
    margin-bottom: 2.2rem;
  }
}
.news__list {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
@media (max-width: 767px) {
  .news__list {
    flex-direction: column;
    padding-left: 2.4rem;
  }
}
.news__date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 2.8rem;
  font-size: 1.4rem;
  margin-right: 4rem;
  color: #ffffff;
  font-weight: 500;
  background-color: #333333;
}
@media (max-width: 767px) {
  .news__date {
    font-size: 1.2rem;
    width: 11.3rem;
    height: 2.6rem;
    margin-bottom: 0.75rem;
  }
}
.news__link {
  display: flex;
  align-items: center;
  width: 70%;
  color: #454545;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Verdana", sans-serif;
  text-decoration: underline;
  text-underline-position: under;
}
@media (max-width: 767px) {
  .news__link {
    font-size: 1.6rem;
    width: 100%;
  }
}

.features {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
}
@media (max-width: 767px) {
  .features {
    margin-top: 4.3rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    flex-direction: column;
  }
}
.features__img {
  max-width: 36rem;
}
@media (max-width: 767px) {
  .features__img {
    max-width: 100%;
  }
}
.features__content {
  color: #333333;
  padding: 0.6rem 0 0 5.4rem;
}
@media (max-width: 767px) {
  .features__content {
    padding-top: 3rem;
    padding-left: 0;
  }
}
.features__title {
  font-weight: 700;
  font-family: "Verdana", sans-serif;
  color: #454545;
  font-size: 2.4rem;
  margin-bottom: 3.7rem;
}
@media (max-width: 767px) {
  .features__title {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.5;
  }
}
.features__desc {
  width: 100%;
  font-family: "Verdana", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #454545;
}
@media (max-width: 767px) {
  .features__desc {
    font-size: 1.6rem;
  }
}
.features__desc span {
  float: right;
  padding-left: 2.8rem;
  padding-top: 0.6rem;
}
@media (max-width: 767px) {
  .features__desc span {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
.features__content-img {
  max-width: 25.5rem;
}
@media (max-width: 767px) {
  .features__content-img {
    margin-bottom: 4rem;
  }
}

@media (max-width: 767px) {
  .subcription__subtitle {
    margin-bottom: 3.25rem;
  }
}
.subcription__list:not(:last-child) {
  margin-right: 2.1rem;
}
.subcription__list {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: calc(33.33% - 1.6rem);
  padding-bottom: 2rem;
  color: #454545;
  border: 0.4rem solid #c9e23f;
  box-shadow: -1px 5px 15px 2px #dedede;
  cursor: pointer;
  transition: all 0.25s;
  overflow: hidden;
  margin: 6.5rem 0;
}
@media (max-width: 767px) {
  .subcription__list {
    width: 100%;
    margin: 0 0 2.4rem;
    padding-bottom: 1.65rem;
  }
}
.subcription__img {
  width: 100%;
}
.subcription__name {
  margin: 2.4rem 0;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 0.7;
}
@media (max-width: 767px) {
  .subcription__name {
    margin: 2.1rem 0;
    font-size: 2.4rem;
  }
}
.subcription__price {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 3.8rem;
}
.subcription__price span {
  font-size: 4rem;
}
@media (max-width: 767px) {
  .subcription__price {
    margin-bottom: 2.9rem;
    font-weight: 700;
    font-size: 3.2rem;
  }
  .subcription__price span {
    font-size: 4rem;
  }
}
.subcription__desc {
  line-height: 1;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 3rem;
  text-align: center;
}
@media (max-width: 767px) {
  .subcription__desc {
    margin-bottom: 2.75rem;
    font-size: 1.6rem;
  }
}
.subcription__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 29.6rem;
  height: 5rem;
  font-size: 1.4rem;
  color: #454545;
  font-weight: 800;
  background-color: #eeeeee;
  margin-top: auto;
}
@media (max-width: 767px) {
  .subcription__btn {
    font-size: 1.6rem;
    width: 31.3rem;
    height: 5.6rem;
    background-color: #f6f6f6;
  }
}
.subcription__list:hover {
  transform: translateY(-0.5rem);
}
.subcription__list:hover .subcription__btn {
  background-image: linear-gradient(90deg, #c9e23f 35%, #47e3dc 100%);
}

.items__list {
  width: 100%;
  display: grid;
  margin-top: 6.8rem;
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 767px) {
  .items__list {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3.8rem;
  }
}
.items__item {
  cursor: pointer;
  overflow: hidden;
}
.items__item:hover > .items__img {
  transform: scale(1.1);
}
.items__img {
  width: 100%;
  object-fit: cover;
  transition: all 0.35s linear;
}

/*# sourceMappingURL=style.css.map */
