$gutter-vertical-small : 6rem;
$grid-width: 10.8rem;       // width 1080px
$gutter-vertical: 8rem;    // margin bottom giữa các row
$gutter-horizontal: 0rem;   // giá trị khoảng cách giữa các column

$default-font-size: 1.6rem; //font size 

// color
$color-white: #ffffff;
$color-white-secondary: #fafafa;
$color-white-button: #eeeeee;
$color-primary: #9aaf24;
$color-primary-border: #c9e23f;
$color-black: #333333;
$color-text: #454545;
$color-boxshadow: #dedede;
$color-gradient: linear-gradient(90deg, rgba(201,226,63,1) 35%, rgba(71,227,220,1) 100%);

// vedarna font
$font-verdana:'Verdana', sans-serif;