.wrapper{
    max-width: 1200px;
    margin: 0 auto;

}
.container{
    max-width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    @include responsive(phone){
        margin-left: 2.3rem;
        margin-right: 2.3rem;
    }
}