.wrapper{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 6rem;
    @include responsive(phone){
      padding: 0;
      overflow: hidden;
    }
}
.container{
    max-width: 1080px;
    margin: 0 auto;
    // overflow: hidden;
    @include responsive(phone){
        margin: 1.15rem;
    }
}