.footer{
    margin-top: 6.8rem;
    padding-bottom: .8rem;
    &__text{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
        color: $color-text;
        line-height: 1;
        @include responsive(phone){
            font-size: 2.56rem;
        }
    }
}