.header{
    margin-bottom: 1.6rem;
    @include responsive(phone){
        margin-bottom: 5.6rem;
    }
    &__logo{
        display: flex;
        align-items: center;
        padding: 3.6rem 0;
        @include responsive(phone){
          position: fixed;
          z-index: 999;
          top: 1.95rem;
          left: 1.6rem;
          padding: 0;
          max-width: 18.7rem;
        }
    }
    &__slide{
        position: relative;
        margin: 0 auto;
        padding: 0;
        margin-bottom: -.3rem;
        max-width: 108rem;
        @include responsive(phone){
           margin: 7rem -1.15rem 0;
        }
        &-logo{
            position: absolute;
            max-width: 24.2rem;
            top: 5.2rem;
            right: 10rem;
            @include responsive(phone){
                top: 2.6rem;
                right: 1.5rem;
                max-width: 12.1rem;
            }
        }
    }
}