.header{
    margin-bottom: 1.6rem;
    @include responsive(phone){
        margin-bottom: 5.6rem;
    }
    &__logo{
        display: flex;
        align-items: center;
        padding: 3.6rem 0;
        @include responsive(phone){
          position: fixed;
          z-index: 999;
          top: 1.95rem;
          left: 1.6rem;
          padding: 0;
          width: 18.7rem;
        }
    }
}