.navigation{
    background-color: $color-white;
    width: 100%;
    @include responsive(phone){
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 7rem;
        background-color: $color-white;
        z-index: 998;
    }
    &__checkbox{
        display: none;
    }
    &__checkbox:checked~&__list{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
    &__button{
        background-color: transparent;
        width: 3.3rem;
        height: 3.3rem;
        display: none;
        cursor: pointer;
        @include responsive(phone){
            display: block;
            position: absolute;
            top: 1.8rem;
            right: 1.85rem;
            z-index: 1000;
        }
    }
    &__icon {
        position: relative;
        top: .8rem;
        &,
        &::before,
        &::after {
            width: 3.3rem;
            height: .55rem;
            border-radius: 2.5px;
            background-color:  #000000;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .25s;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }
    &__list{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 4rem 0;
        @include responsive(phone){
            opacity: 0;
            visibility: hidden;
            flex-direction: column;
            position: absolute;
            top: 7rem;
            width: 100%;
            padding: 0;
            height: 100vh;
            background-color: rgba($color-white,.97);
            transform: translateX(100%);
            transition: transform .35s linear;
        }
    }
    &__item{
        width: 18rem;
        height: 2.5rem;

        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        color: $color-text;
        border-left: .2rem solid #575757;

        transition: all .25s ease-in;
        cursor: pointer;
        @include responsive(phone){
            width: 100%;
            border-left: none;
            height: 4.5rem;
            border-top: .05rem solid #cccccc;
        }
    }
    &__item:hover{
        background-color: $color-white-secondary;
    }
    &__item:hover &__link{
        color: $color-primary;
    }
    &__item:last-child{
        border-right: .2rem solid #575757;
        @include responsive(phone){
            border-right: none;
            border-bottom: 1px solid #cccccc;
        }
    }
    &__link{
        color: $color-text;
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: uppercase;

        transition: all .25s ease-in;
        @include responsive(phone){
            font-size: 1.6rem;
        }
    }
    
}