
.items{
    &__list{
        width: 100%;
        display: grid;
        margin-top: 6.8rem;
        grid-template-columns: repeat(6 ,1fr);
        @include responsive(phone){
            grid-template-columns: repeat(3 ,1fr);
            margin-top: 3.8rem;
        }
    }
    &__item{
        cursor: pointer;
        overflow: hidden;
    }
    &__item:hover > &__img{
        transform: scale(1.1);
    }
    &__img{
        width: 100%;
        object-fit: cover;
        transition: all .35s linear;
    }
}
