.subcription{
    // &__lists{
    //     padding: 6.5rem 0;
    //     width: 100%;
    //     @include responsive(phone){
    //         flex-direction: column;
    //         padding: 3.25rem 0;
    //     }
    // }
    &__subtitle{
        @include responsive(phone){
            margin-bottom: 3.25rem;
        }
    }
    &__list:not(:last-child){
        margin-right: 2.1rem;
    }
    &__list{
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        width: calc(33.33% - 1.6rem);
        padding-bottom: 2rem;
        color: $color-text;
        border: .4rem solid $color-primary-border;
        box-shadow: -1px 5px 15px 2px $color-boxshadow;
        cursor: pointer;
        transition: all .25s;
        overflow: hidden;
        margin: 6.5rem 0;
        @include responsive(phone){
            width: 100%;
            margin: 0 0 2.4rem;
            padding-bottom: 1.65rem;
        }
    }
    &__img{
        width: 100%;
        min-height: 1px;
    }
    &__name{
        margin: 2.4rem 0;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: .7;
        @include responsive(phone){
            margin: 2.1rem 0;
            font-size: 2.4rem;
        }
    }
    &__price{
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 3.8rem;
        & span{
            font-size: 4rem;
        }
        @include responsive(phone){
            margin-bottom: 2.9rem;
            font-weight: 700;
            font-size: 3.2rem;
            & span{
                font-size: 4rem;
            }
        }
    }
    &__desc{
        line-height: 1;
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: 3rem;
        text-align: center;
        @include responsive(phone){
            margin-bottom: 2.75rem;
            font-size: 1.6rem;
        }
    }
    &__btn{
    
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 29.6rem;
        height: 5rem;
        font-size: 1.4rem;
        color: $color-text;
        font-weight: 800;
        background-color: $color-white-button;
        margin-top: auto;
        @include responsive(phone){
            font-size: 1.6rem;
            width: 31.3rem;
            height: 5.6rem;
            background-color: #f6f6f6;
        }
    }
    &__list:hover{
        transform: translateY(-.5rem);
    }
    &__list:hover &__btn{
        background-image: $color-gradient;
    }
}