@import "../abstracts/mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    @include responsive(scalePC){
        font-size: calc(100vw / 120);
    }
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
img{
    border: none;
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
// CSS FIX FOR IE
@media screen and (min-width:0\0) { 
    .items{
        &__list{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap:wrap;
        }
        &__item{
            border: none;
            width: 16.66%;
            @include responsive(phone){
                width: 33.33%;
            }
        }
    }
    .header__logo{
        & img{
            max-width: 18.7rem;
        }
    }
}