.heading{
    display: block;
    text-align: center;
}
.heading-primary{
    font-size: 2.4rem;
    display: inline-block;
    text-transform: uppercase;
    color: $color-text;
    font-weight: 800;
    position: relative;
    @include responsive(phone){
        font-size: 2.4rem;
        letter-spacing: .125rem;
    }
    &::before{
        content: '';
        position: absolute;
        width: 4rem;
        height: .4rem;
        top: -.8rem;
        left: .2rem;
        color: transparent;
        background-image: $color-gradient;
    }
}
.heading-secondary{
    max-width: 65rem;
    margin: 0 auto;
    text-align: left;
    font-family: $font-verdana;
    color: $color-text;
    font-size: 1.6rem;
    line-height: 1.6;
    margin-top: 3.6rem;
    @include responsive(phone){
        max-width: none;
        margin: 0 1.6rem;
        margin-top: 1.6rem;
    }
}