.section-news{
    background-color: $color-white-secondary;
    padding-top: 6.8rem;
    border-top: 1px solid $color-white-button;
    border-bottom: 1px solid $color-white-button;
}
.section-features{
    padding: 12rem 0 13.2rem 0;
}
.section-items{
    padding: 6.8rem 0;
}